*, h1, a{
    font-family: 'Helvetica', Arial, sans-serif;
}

body{
    background-color: #FAF9F6;
}

header{
    top:0;
    z-index: 998;
    overflow: visible ;
}

button{
    background-color: #03c04a;
    color:black;
    border:none;
    border-radius: 20px;
    height: 40px;
    margin: 5px;
}
button:active{
    background-color: #2AD789;
}
.imgcontainer img{
    border: 3px solid #028a0f;
    border-radius: 10px;
}

.petGrid p{
    background-color: #FAF9F6;
    border: #dddddd solid 1px;
    border-radius: 20px;
    padding: 1%;
}

#hamDiv{
    position:sticky;
    /* border: #028a0f solid 3px; */
    background-color: #03c04a;
    text-align: right;
}
#hamButton{
    background-color: #03c04a;
    border:none;
    height: 40px;
    width: 40px ;
}

main > div{
    border: #e0e0eb solid 1px;
    /* border-right: #e0e0eb solid 1px; */
    padding: 2%;
    margin: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background: white;
    border-radius: 20px;

}

.petGrid > div{
    border-bottom: #e0e0eb solid 1px;
    border-right: #e0e0eb solid 1px;
    padding: 1% 1% 20px 1%;
    margin-left: 5%;
    margin-right: 5%;
    background: white;
    border-radius: 20px;
}

figure{
    margin:auto;
    text-align: center;
    background-color: #dddddd;
    padding: 2%;
    width: fit-content;
}

h1{ 
    font-size:xx-large;
    padding: 10px;
    text-align: center;
    background-color: #03c04a;
    border-bottom: black 3px solid;
}

h2{
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
}

h3{
    font-weight: bold;
    margin: 10px 0px;
}

p, h2, li{
    line-height: 200%;
}

div ul{
    list-style-type: circle;
}

div ol{
    list-style-type:decimal;
}
div ul, div ol{
    padding-left: 30px;
}

img{
    object-fit: cover;
    max-height:400px;
    max-width: 100%;
}

ul.nav-bar{
    display:grid;
    grid-template-columns: 1fr;
    padding: 0px;
}
.nav-bar li{
    padding: 5%;
    /* border: #028a0f solid 3px; */
    background-color: #028a0f;
    text-align: center;
    font-size:large;
}
/* #03c04a #1dfc72; #028a0f */
li.active{
    /* border: #1dfc72 solid 3px; */
    background-color: #03c04a;

}

.nav-bar a{
    color:white;
}

li.active a{
    color:black;
}

.travelgallery{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.travelgallery img, .piper-photos img, .petgallery img, .plumpics img{
    height:100%;
    width: 100%;
    object-fit: cover;
    transition:transform 0.25s ease;
}
.travelgallery img:hover, .piper-photos img:hover, .petgallery img:hover, .plumpics img:hover{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.plumpics{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.plumpics img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

video{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.piper-photos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.piper-photos img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.piper-photos video{
    height:100%;
    width: 100%;
    object-fit: contain;
}

a.skipbutton{
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skipbutton:focus, a.skipbutton:active{
    background-color: white;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.homemain{
    margin: 0%;
}
.homediv{
    background-color: #00190a;
    color: white;
    padding: 10%;
    margin: 0px;
    border: none;
    border-radius: 0px;
}

div.homediv p{
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    text-align: center;
}

.otherdiv{
    margin-left: 10%;
    margin-right: 10%;
}

.petgallery{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.petgallery img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.petgallery video{
    height:100%;
    width: 100%;
    object-fit: contain;
}

.petlinks{
    display: flex;
    grid-gap: 10px;
    list-style-type: none;
    padding: 0px;
}
.petnav{
    padding: 10px;
    background-color: #00190a;
}
.petlinks li{
    flex: 1;
    text-align: center;
    padding: auto 10px auto 10px;
    background-color: #03c04a;
    text-align: center;
    font-size:large;
    border-radius: 10px;
}
#funlink{
    text-align: center;
    padding: 10px;
    background-color: #03c04a;
    text-align: center;
    font-size:large;
    border-radius: 20px;
    color:black;
}

.petlinks a{
    color: black;
}

@media (prefers-reduced-motion) {
    img{
        animation: none;
    }
  }

@media screen and (min-width: 800px) {
    ul.nav-bar{
        display:grid;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
    }
    /* ul.nav-bar{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } */
    .petGrid main > div{
        margin-left: 0px;
    }
    .petGrid > main{
        overflow-y: scroll;
    }
    main > div{
        margin: 10px 15% 10px;
    }

    .petGrid{
        display: grid;
        grid-template-columns: 1fr 6fr;
        height: 85vh;
    }
    
    .petnav{
        border: #e0e0eb solid 1px;
        background-color: white;
        margin: 3%;
        height: fit-content;
        border-radius: 20px;
        position:sticky;
    }

    .petlinks{
        /* display: block; */
        flex-direction: column;
        padding-left:0px;

    }
    .petnav li{
        margin-bottom: 10px;
    }

    .petlinks li{
        background-color: #00190a;
    }
    .petlinks a{
        color: white;
    }
    header{
        top:0;
        position: sticky;

    }
}

@media screen and (min-width: 1200px){
    ul.nav-bar{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #hamDiv{
        display: none;
        visibility: hidden;
    }
    .hamButton{
        display: none;
    }
    h2{
        text-align: center;
    }
    /* .petnav{
        display: none;
    }
    .petGrid{
        display: block;
    }
    main > div{
        margin:unset;
        margin-bottom: 10px;
    }
    .petGrid > main{
        overflow-y: visible;
        margin: 10px 5% 10px 5%;
        display: grid;
    } */
    .sidebyside{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
}

.hidden{
    display:none;
}
/* at the bottom to override any class */